<div class="container">
    <div *ngIf="loading$ | async; else episodesList" class="spinner">
        <mat-spinner color="primary"></mat-spinner>
    </div>

    <ng-template #episodesList>
        <div style="margin-top: 150px; background-color: greenyellow; padding: 20px; display: flex; gap: 20px;">
            <button mat-button color="primary" matBadge="69">button</button>
            <button mat-flat-button color="primary">flat</button>
            <button mat-button color="accent">button</button>
            <button mat-flat-button color="accent">flat</button>
            <button mat-icon-button color="warn">
                <mat-icon matBadge="69" matBadgeColor="warn">home</mat-icon>
            </button>
            <div matBadge="4" matBadgeSize="small">Text with a badge</div>
        </div>
        <div *ngFor="let ep of episodes" class="episode-container">
            <div class="episode">
                <mat-card appearance="outlined">
                    <a routerLink="{{ ep.id }}">
                        <img
                            mat-card-image
                            src="{{ ep.properties?.poster }}"
                            alt="Poster for {{ ep.properties?.title }}"
                        />
                    </a>
                    <mat-card-header>
                        <a routerLink="{{ ep.id }}">
                            <mat-card-title>{{ ep.properties?.title }} ({{ ep.properties?.year }})</mat-card-title>
                        </a>
                    </mat-card-header>
                    <mat-card-content>
                        <a routerLink="{{ ep.id }}">
                            {{
                                (ep.properties?.description)!.length > 140
                                    ? (ep.properties?.description | slice: 0:140) + " ..."
                                    : ep.properties?.description
                            }}
                        </a>
                    </mat-card-content>
                    <mat-card-actions>
                        <a
                            *ngIf="ep.properties!.comments!.length > 0"
                            routerLink="{{ ep.id }}"
                            mat-icon-button
                            color="primary"
                        >
                            <mat-icon
                                matBadge="{{ ep.properties?.comments?.length }}"
                                matBadgeDescription="Number of comments for {{ ep.properties?.title }}"
                                matBadgeColor="primary"
                                matBadgeSize="small"
                                >forum
                            </mat-icon>
                            <span class="cdk-visually-hidden">
                                Forum icon with a link to {{ ep.properties?.comments?.length }} comments.
                            </span>
                        </a>
                        <span>{{ ep.properties?.author }}</span>
                    </mat-card-actions>
                </mat-card>
            </div>
        </div>

        <div></div>
    </ng-template>
</div>
