<div class="container" style="margin-top: 10px">
    <div *ngIf="loading$ | async; else episodesList">
        <mat-spinner class="align-center" color="primary"></mat-spinner>
    </div>
    <ng-template #episodesList fxLayout="column">
        <div
            fxLayout.gt-sm="row wrap"
            fxLayout.lt-md="column"
            fxLayoutAlign.gt-sm="space-around"
            fxLayoutAlign.lt-md="start center"
            fxLayoutGap.lt-md="20px"
        >
            <mat-card
                *ngFor="let episode of episodes$ | async"
                fxFlex.lt-md="100%"
                fxFlex.md="40%"
                fxFlex.lg="30%"
                fxFlex.xl="19%"
            >
                <img
                    class="pointer"
                    mat-card-image
                    src="{{ episode.properties.poster }}"
                    alt="Poster for {{ episode.properties.title }}"
                    (click)="handleNav()"
                />
                <mat-card-header>
                    <mat-card-title class="pointer" (click)="handleNav()"
                        >{{ episode.properties.title }} ({{ episode.properties.year }})
                    </mat-card-title>
                </mat-card-header>
                <mat-card-content>
                    <p class="pointer" (click)="handleNav()">
                        {{
                            episode.properties.description.length > 140
                                ? (episode.properties.description | slice: 0:140) + " ..."
                                : episode.properties.description
                        }}
                    </p>
                </mat-card-content>
                <mat-card-actions>
                    <button mat-button><mat-icon fontIcon="forum"></mat-icon>&nbsp;3</button>
                    <span>{{ episode.properties.author }}</span>
                </mat-card-actions>
            </mat-card>
        </div>
    </ng-template>
</div>
