<div class="container">
    <div *ngIf="loading">
        <mat-spinner class="align-center" color="primary"></mat-spinner>
    </div>
    <div *ngIf="!loading" fxLayout="column" fxLayoutAlign="">
        <div class="align-center">
            <button mat-fab color="primary" (click)="openAddEpisodeDialog()">
                <mat-icon aria-hidden="false" aria-label="add icon" fontIcon="add"></mat-icon>
            </button>
        </div>
        <div
            fxLayout.gt-sm="row wrap"
            fxLayout.lt-md="column"
            fxLayoutAlign.gt-sm="space-around"
            fxLayoutAlign.lt-md="start center"
            fxLayoutGap.lt-md="10px"
        >
            <mat-card
                *ngFor="let episode of episodes$ | async"
                fxFlex.lt-md="100%"
                fxFlex.md="40%"
                fxFlex.lg="30%"
                fxFlex.xl="19%"
            >
                <img
                    class="pointer"
                    mat-card-image
                    src="{{ episode.properties.poster }}"
                    alt="Poster for {{ episode.properties.title }}"
                    (click)="handleNav()"
                />
                <mat-card-header>
                    <mat-card-title class="pointer" (click)="handleNav()"
                        >{{ episode.properties.title }} ({{ episode.properties.year }})
                    </mat-card-title>
                </mat-card-header>
                <mat-card-content>
                    <p class="pointer" (click)="handleNav()">
                        {{
                            episode.properties.description.length > 140
                                ? (episode.properties.description | slice: 0:140) + " ..."
                                : episode.properties.description
                        }}
                    </p>
                </mat-card-content>
                <mat-card-actions>
                    <button mat-button><mat-icon fontIcon="forum"></mat-icon>&nbsp;3</button>
                    <span>{{ episode.properties.author }}</span>
                </mat-card-actions>
            </mat-card>
        </div>
    </div>
</div>
