<div class="cr-container">
    <h3>COMMENTS</h3>
    <div *ngFor="let comment of comments">
        <div class="cr-item" [ngClass]="comment.properties.isFlagged ? 'flagged' : ''">
            <div class="cr-user">
                <a href=".">{{ comment.properties.user?.properties?.userName }}</a>
                <div class="cr-staff" *ngIf="comment.properties.user?.properties?.isAdmin">STAFF</div>
            </div>
            <div *ngIf="!comment.properties.editedDate" class="cr-date">
                {{ comment.properties.date | date: "fullDate" }}
                {{ comment.properties.date | date: "shortTime" }}
            </div>
            <div *ngIf="!!comment.properties.editedDate" class="cr-date">
                (edited)
                {{ comment.properties.editedDate | date: "fullDate" }}
                {{ comment.properties.editedDate | date: "shortTime" }}
            </div>
            <div *ngIf="!comment.properties.isInEditMode" [innerHTML]="comment.properties.body"></div>
            <app-comment-edit *ngIf="comment.properties.isInEditMode" [comment]="comment"></app-comment-edit>
            <div *ngIf="comment.properties.isInFlagMode">
                <b> Confirm Flag as Inappropriate:</b>
                <button mat-icon-button color="warn" (click)="commentService.flagComment()">
                    <mat-icon>check</mat-icon>
                </button>
                <button mat-icon-button color="warn" (click)="closeModes()">
                    <mat-icon>close</mat-icon>
                </button>
            </div>
            <div *ngIf="comment.properties.isInDeleteMode">
                <b> Confirm Delete:</b>
                <button mat-icon-button color="warn" (click)="commentService.deleteComment()">
                    <mat-icon>check</mat-icon>
                </button>
                <button mat-icon-button color="warn" (click)="closeModes()">
                    <mat-icon>close</mat-icon>
                </button>
            </div>
            <app-comment-reply *ngIf="comment.properties.isInReplyMode"></app-comment-reply>
            <div
                *ngIf="
                    !comment.properties.isInFlagMode &&
                    !comment.properties.isInEditMode &&
                    !comment.properties.isInDeleteMode &&
                    !comment.properties.isInReplyMode
                "
                class="cr-actions"
            >
                <button mat-icon-button matTooltip="Leave a reply" (click)="openReplyMode(comment)">
                    <mat-icon>reply</mat-icon>Reply
                </button>
                <button
                    *ngIf="!comment.properties.isFlagged"
                    mat-icon-button
                    matTooltip="Flag as innapropriate"
                    (click)="openFlagMode(comment)"
                >
                    <mat-icon>flag</mat-icon>
                </button>
                <button mat-icon-button matTooltip="Edit Comment" (click)="openEditMode(comment)">
                    <mat-icon>edit</mat-icon>
                </button>
                <button mat-icon-button matTooltip="Delete Comment" (click)="openDeleteMode(comment)">
                    <mat-icon>delete</mat-icon>
                </button>
            </div>
            <app-reply-list [replies]="comment.properties.replies"></app-reply-list>
            <mat-divider></mat-divider>
        </div>
    </div>
</div>
