<div class="cr-container">
    <h3>COMMENTS</h3>
    <div *ngFor="let comment of comments">
        <div class="cr-item">
            <div class="cr-user">
                <a href=".">{{ comment.properties.user?.properties?.userName }}</a>
                <div class="cr-staff" *ngIf="comment.properties.user?.properties?.isAdmin">STAFF</div>
            </div>
            <div class="cr-date">
                {{ comment.properties.date | date: "fullDate" }}
                {{ comment.properties.date | date: "shortTime" }}
            </div>
            <div>{{ comment.properties.body }}</div>
            <div class="cr-actions">
                <button mat-icon-button matTooltip="Leave a reply" matTooltipPosition="above">
                    <mat-icon>reply</mat-icon>Reply
                </button>
                <button mat-icon-button matTooltip="Flag as innapropriate" matTooltipPosition="above">
                    <mat-icon>flag</mat-icon>
                </button>
            </div>
            <app-reply-list [replies]="comment.properties.replies"></app-reply-list>
            <mat-divider></mat-divider>
        </div>
    </div>
</div>
