<div *ngFor="let r of replies">
    <div class="cr-item reply">
        <div class="cr-user">
            <a href=".">{{ r.properties.user?.properties?.userName }}</a>
            <div class="cr-staff" *ngIf="r.properties.user?.properties?.isAdmin">STAFF</div>
        </div>
        <div class="cr-date">
            {{ r.properties.date | date: "fullDate" }}
            {{ r.properties.date | date: "shortTime" }}
        </div>
        <div class="cr-in-reply">
            <mat-icon class="reply-icon">reply</mat-icon>
            <div>In reply to</div>
            <div>
                <b>{{ r.properties.replyToUser?.properties?.userName }}</b>
            </div>
        </div>
        <div [innerHTML]="r.properties.body"></div>
        <div class="cr-actions">
            <button mat-icon-button matTooltip="Leave a reply" matTooltipPosition="above">
                <mat-icon>reply</mat-icon>Reply
            </button>
            <button mat-icon-button matTooltip="Flag as innapropriate" matTooltipPosition="above">
                <mat-icon>flag</mat-icon>
            </button>
        </div>
    </div>
</div>
