<div *ngFor="let r of replies">
    <div class="cr-item reply" [ngClass]="r.isFlagged ? 'flagged' : ''">
        <div class="cr-user">
            <a href=".">{{ r.user?.properties?.userName }}</a>
            <div class="cr-staff" *ngIf="r.user?.properties?.isAdmin">STAFF</div>
        </div>
        <div *ngIf="!r.editedDate" class="cr-date">
            {{ r.date | date: "fullDate" }}
            {{ r.date | date: "shortTime" }}
        </div>
        <div *ngIf="!!r.editedDate" class="cr-date">(edited)
            {{ r.editedDate | date: "fullDate" }}
            {{ r.editedDate| date: "shortTime" }}
        </div>
        <div class="cr-in-reply">
            <mat-icon class="reply-icon">reply</mat-icon>
            <div>In reply to</div>
            <div>
                <b>{{ r.replyToUser?.properties?.userName }}</b>
            </div>
        </div>
        <div [innerHTML]="r.body"></div>
        <div class="cr-actions">
            <button mat-icon-button matTooltip="Leave a reply" matTooltipPosition="above">
                <mat-icon>reply</mat-icon>Reply
            </button>
            <button mat-icon-button matTooltip="Flag as innapropriate" matTooltipPosition="above">
                <mat-icon>flag</mat-icon>
            </button>
        </div>
    </div>
</div>
