h1 {
    font-size: 28px;
}

p {
    font-size: 18px;
}

.poster {
    width: 100%;
}

.header {
    width: 100%;
}

.content {
    width: 100%;
}

.links {
    width: 100%;
    .mat-icon {
        height: 34px;
        width: 34px;
    }
}

.comments {
    width: 100%;
}
