<div class="container" fxLayout="column" fxLayoutAlign="start center" fxLayoutGap="30px">
    <div class="header" fxLayout="column" fxLayoutAlign="start center">
        <h1 style="text-align: center;">{{ episode.properties.title }} ({{ episode.properties.year }})</h1>
        <div fxLayout="row" fxLayoutAlign="start" fxLayoutGap="20px">
            <div>{{ episode.properties.author.properties.userName | uppercase }}</div>
            <div>{{ episode.properties.date | date }}</div>
        </div>
    </div>

    <div class="poster" fxLayout="row" fxLayoutAlign="center">
        <img fxFlex.xs="100" fxFlex.gt-xs="580px"
            src="{{ episode.properties.poster }}"
            alt="Poster for {{ episode.properties.title }}"
        />
    </div>

    <div class="links" fxLayout="row" fxLayoutAlign="center" fxLayoutGap="20px">
        <a
            mat-icon-button
            *ngIf="!!episode.properties.links.applePodcasts"
            href="{{ episode.properties.links.applePodcasts }}"
            target="_blank"
            matTooltip="Find on Apple Podcasts"
            matTooltipPosition="below"
        >
            <mat-icon svgIcon="applePodcasts" aria-hidden="false" aria-label="Apple Podcasts SVG icon"></mat-icon>
        </a>
        <a
            mat-icon-button
            *ngIf="!!episode.properties.links.iHeartRadio"
            href="{{ episode.properties.links.iHeartRadio }}"
            target="_blank"
            matTooltip="Find on iHeartRadio"
            matTooltipPosition="below"
        >
            <mat-icon svgIcon="iHeartRadio" aria-hidden="false" aria-label="iHeartRadio SVG icon"></mat-icon>
        </a>
        <a
            mat-icon-button
            *ngIf="!!episode.properties.links.iTunes"
            href="{{ episode.properties.links.iTunes }}"
            target="_blank"
            matTooltip="Find on iTunes"
            matTooltipPosition="below"
        >
            <mat-icon svgIcon="iTunes" aria-hidden="false" aria-label="iTunes SVG icon"></mat-icon>
        </a>
        <a
            mat-icon-button
            *ngIf="episode.properties.links.podBean.length > 0"
            href="{{ episode.properties.links.podBean }}"
            target="_blank"
        >
            podBean
        </a>
        <a
            *ngIf="episode.properties.links.youTube.length > 0"
            href="{{ episode.properties.links.youTube }}"
            target="_blank"
        >
            youTube
        </a>
    </div>

    <div class="content" [innerText]="episode.properties.description"></div>

    <div class="comments">
        <h3>Comments</h3>
        <div *ngFor="let comment of episode.properties.comments">
            <div>comment: {{ comment.comment }} - {{ comment.user.properties.userName }}</div>
            <div *ngFor="let reply of comment.replies">
                <div>reply: {{ reply.reply }} - {{ reply.user.properties.userName }}</div>
            </div>
            <mat-divider></mat-divider>
        </div>
    </div>
</div>
