h1 {
    font-size: 28px;
    // margin: 20px 0;
}

img {
    max-width: 100%;
}

p {
    font-size: 18px;
}

.header {
    // padding: 20px;
}

.content {
    padding: 20px;
}

.links {
    width: 100%;
    .mat-icon {
        height: 34px;
        width: 34px;
    }
}
