h1 {
    font-size: 28px;
}

// .poster {
//     width: 100%;
// }

.header {
    margin-top: 30px;
    width: 100%;
}

.content {
    // width: 100%;
    border-bottom: 1px solid #ccc;
    padding-bottom: 10px;
    font-size: 18px;
}

.links {
    // width: 100%;
    .mat-icon {
        height: 34px;
        width: 34px;
    }
}

.comment-container {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 100%;

    h3 {
        font-size: 20px;
    }

    .comment-item {
        display: flex;
        flex-direction: column;
        gap: 20px;
        padding: 0 20px;

        .comment-header {
            display: flex;
            flex-direction: column;

            a {
                font-size: 1rem;
            }

            .date {
                color: #ccc;
                font-size: 0.8rem;
            }
        }

        .actions-row {
            display: flex;
            flex-direction: row;
            gap: 20px;
        }
    }
}
