<div class="container episode">
    <h1>{{ episode.properties?.title }} ({{ episode.properties?.year }})</h1>
    <div class="header">
        <div>{{ episode.properties?.author }}</div>
        <div>{{ episode.properties?.date | date }}</div>
    </div>
    <img class="poster" src="{{ episode.properties?.poster }}" alt="Poster for {{ episode.properties?.title }}" />

    <div class="links">
        <a
            *ngIf="!!episode.properties?.links?.applePodcasts"
            href="{{ episode.properties?.links?.applePodcasts }}"
            target="_blank"
            matTooltip="Find on Apple Podcasts"
            matTooltipPosition="above"
        >
            Apple Podcasts
        </a>
        <a
            *ngIf="!!episode.properties?.links?.iHeartRadio"
            href="{{ episode.properties?.links?.iHeartRadio }}"
            target="_blank"
            matTooltip="Find on iHeartRadio"
            matTooltipPosition="above"
        >
            iHeartRadio
        </a>
        <a
            *ngIf="!!episode.properties?.links?.iTunes"
            href="{{ episode.properties?.links?.iTunes }}"
            target="_blank"
            matTooltip="Find on iTunes"
            matTooltipPosition="above"
        >
            iTunes
        </a>
        <a
            *ngIf="!!episode.properties?.links?.podBean"
            href="{{ episode.properties?.links?.podBean }}"
            target="_blank"
            matTooltip="Find on PodBean"
            matTooltipPosition="above"
        >
            PodBean
        </a>
        <a
            *ngIf="!!episode.properties?.links?.youTube"
            href="{{ episode.properties?.links?.youTube }}"
            target="_blank"
            matTooltip="Find on YouTube"
            matTooltipPosition="above"
        >
            YouTube
        </a>
    </div>
    <div class="content" [innerText]="episode.properties?.description"></div>
    <app-comment-list [comments]="episode.properties?.comments"></app-comment-list>
    <app-episode-overview></app-episode-overview>
</div>
