<div class="container-fluid">
    <div class="container">
        <mat-toolbar color="primary">
            <span>Logo</span>
            <div routerLink="episodes"> Episodes</div>
            <span style="flex: 1 1 auto"></span>
            <button mat-icon-button>
                <mat-icon>menu</mat-icon>
            </button>
            <!-- <div fxFlex fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="18px">
                <button mat-flat-button *ngFor="let link of links">
                    <div routerLink="{{ link }}">{{ link | uppercase }}</div>
                </button>
            </div> -->
        </mat-toolbar>
    </div>
</div>


<router-outlet></router-outlet>
