.nav {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;

    .sidenav {
        background-color: #eee;
        width: 100%;
    }
}

.nav-menu {
    margin-top: 20px;
}

.nav-link {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    h3 {
        font-size: 24px;
    }
}

.nav-bar-main {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.nav-bar-end {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: end;
    width: 100%;
}

.toolbar {
    position: fixed;
    z-index: 2;
}

@media (max-width: 599px) {
    .top-margin {
        margin-top: 56px;
    }
}

@media (min-width: 600px) {
    .top-margin {
        margin-top: 64px;
    }
}