// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@use "@angular/material" as mat;
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat.core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/

$web-app-primary: mat.define-palette(mat.$gray-palette, 900);
$web-app-accent: mat.define-palette(mat.$pink-palette, 400);

// The warn palette is optional (defaults to red).
$web-app-warn: mat.define-palette(mat.$red-palette);

// Create the theme object. A theme consists of configurations for individual
// theming systems such as "color" or "typography".
$web-app-theme: mat.define-light-theme(
    (
        color: (
            primary: $web-app-primary,
            accent: $web-app-accent,
            warn: $web-app-warn,
        ),
    )
);

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include mat.all-component-themes($web-app-theme);

/* You can add global styles to this file, and also import other style files */

html,
body {
    height: 100%;
    background-color: #333;
}
body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}
a {
    color: black;
    text-decoration: none;
}
a:hover {
    color: grey;
}
.container-fluid {
    max-width: 100%;
    background-color: #212121;
}
.center {
    margin-left: auto;
    margin-right: auto;
}
.text-center {
    text-align: center;
}
.pointer {
    cursor: pointer;
}

.container {
    background-color: #999;
    margin-left: auto;
    margin-right: auto;
}
// ///////////////////////////////
// Angular Flex-Layout Breakpoints
// ///////////////////////////////
@media (max-width: 599px) {
    .container {
        max-width: 100%;
        padding-left: 10px;
        padding-right: 10px;
    }
}
@media (min-width: 600px) {
    .container {
        max-width: 600px;
        // margin-left: auto;
        // margin-right: auto;
    }
}
@media (min-width: 960px) {
    .container {
        max-width: 940px;
        // margin-left: auto;
        // margin-right: auto;
    }
}
@media (min-width: 1200px) {
    .container {
        max-width: 1200px;
        // margin-left: auto;
        // margin-right: auto;
    }
}
