<div class="container text-center">
    <h1>Welcome to Analog Jones and the Temple of Film</h1>
    <h2>I'm Steve and we're a podcast that breaks down the ...</h2>
</div>

<div class="container">
    <app-episode-overview></app-episode-overview>
</div>

<div class="container">
    <div fxLayout="row" fxLayoutAlign="center">
        <button mat-raised-button color="accent" class="center">
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;ALL
            EPISODES&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        </button>
    </div>

</div>
