<div class="comment-edit">
    <mat-form-field appearance="fill">
        <textarea matInput [formControl]="commentFormControl" rows="5"></textarea>
    </mat-form-field>
    <div class="actions">
        <button mat-icon-button color="accent" matTooltip="Quit" (click)="quit()">
            <mat-icon>clear</mat-icon>
        </button>
        <button mat-icon-button color="accent" matTooltip="Reset" (click)="undo()">
            <mat-icon>undo</mat-icon>
        </button>

        <button mat-icon-button color="accent" matTooltip="Save Changes" (click)="save()">
            <mat-icon>save</mat-icon>
        </button>
    </div>
</div>